{{ define "title"}}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="column">
    <div class="images">
        <h1 class="title">{{ .Title | markdownify }}</h1>
        {{ range .Pages }}
        <div class="image-wrapper">
            <a href="{{ .Permalink }}">
                <div class="image"><img src="{{ ((.Resources.GetMatch .Params.thumbnail).Resize "700x").RelPermalink }}" ></div>
                <div class="title">{{ .Title }}</div>
            </a>
        </div>
        {{ end }}
    </div>
</main>
{{ end }}