<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<title>{{ block "title" . }}{{ end }}</title>
	<meta name="description" content="">

	<link rel="stylesheet" href="/css.css">
	<link rel="shortcut icon" href="/re_favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap" rel="stylesheet">  

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155065856-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-155065856-1');
	</script>
</head>
<body>
	<div id="content">
	<header>
		<a href="/">{{ .Site.Params.Heading }}</a>
	</header>
	<div class="container">
		<div class="column">
			{{ partial "nav.html" . }}
		</div>
		{{ block "main" . }}
		{{ end }}
	</div>
	
	<!-- Image modal --> 
	<div id="image-modal" class="hide"> 
		<div id="image-nav">
			<button type="button" id="prev-image-button">previous</button>
			<button type="button" id="next-image-button">next</button>
		</div>
		<button type="button" id="close-image-button">close</button>
		<img id="modal-image">
	</div>
	<footer>
	</footer>
</div>
<script src="/js.js"></script>
</body>
</html>
