<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<title>{{ block "title" . }}{{ end }}</title>
	<meta name="description" content="">

	<link rel="stylesheet" href="/css.css">
	{{ block "stylesheet" . }}{{ end }}
	<link rel="shortcut icon" href="/re_favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Noto+Serif+JP|Noto+Serif+TC&display=swap" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155065856-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-155065856-1');
	</script>
</head>
<body>
	<div id="content">
	<div class="container">
		<header>
			<div class="site-title">
				<a {{ if .Page.IsSection }} href="/" {{ else }} href="/posts" {{ end }}>WP</a>
			</div>
			<!-- <nav>
				<a href="/posts">Blog</a>
				<a href="/software">Software</a>
				<a href="/about">About</a>
			</nav> -->
		</header>
		{{ block "main" . }}{{ end }}
	</div>
	
	<!-- Image modal --> 
	<div id="image-modal" class="hide"> 
		<img id="modal-image">
	</div>
	<footer>
	</footer>
</div>
<script src="/js.js"></script>
</body>
</html>
