<nav>
    <h1><a href="/">William Pan</a></h1>
    <br>
    <h1><a href="/journal">Journal</a></h1>
    <h1>Fiction</h1>
    <ul> 
        {{ range where .Site.RegularPages "Dir" "fiction/" }}
            <li>
                <a href="{{ .URL }}"> {{ default .Params.Title .Params.display | markdownify }} </a> <span class="date">{{ .Date.Format "2006" }}</span>
            </li>
        {{ end }}
    </ul>
    <h1>Translations</h1>
    <ul>
        {{ range where .Site.RegularPages "Dir" "translations/" }}
            <li>
                <a href="{{ .URL }}"> {{ default .Params.Title .Params.display | markdownify }}</a> <span class="date">{{ .Date.Format "2006" }}</span>
            </li>
        {{ end }}
    </ul>
    <h1>Notes</h1>
    <ul> 
        {{ range where .Site.RegularPages "Dir" "notes/" }}
            <li>
                <a href="{{ .URL }}"> {{ default .Params.Title .Params.display | markdownify }} </a> <span class="date">{{ .Date.Format "2006" }}</span>
            </li>
        {{ end }}
    </ul>
</nav>
