@font-face {
    font-family: 'SabonLTPro';
    src: url('SabonLTPro-Roman.eot');
    src: url('SabonLTPro-Roman.eot?#iefix') format('embedded-opentype'), url('SabonLTPro-Roman.woff') format('woff'), url('SabonLTPro-Roman.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal; 
}
@font-face {
    font-family: 'SabonLTPro';
    src: url('SabonLTPro_Italic.eot');
    src: url('SabonLTPro_Italic.eot?#iefix') format('embedded-opentype'), url('SabonLTPro_Italic.woff') format('woff'), url('SabonLTPro_Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal; 
}

/* Utilities ----------------------------------- */ 
.hide { 
    display: none; 
}

.center { 
    text-align: center; 
}

/* Defaults ------------------------------------ */ 
html, body {
    background: white;
    color: black; 
    font-family:  'SabonLTPro', 'Times New Roman', Times, Georgia, 'Noto Serif KR', 'Noto Serif TC', 'Songti TC', 'HiraMinProN', 'Hiragino Mincho ProN', 'Yu Gothic', 'Hiragino Sans GB', 'Heiti TC', sans-serif; 
    font-size: 1.1em;
    line-height: 1.3; 
    padding: 0;
    margin: 0;
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: 'onum';
    -ms-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    font-feature-settings: 'onum';
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, button {
    margin: 0; 
    padding: 0; 
    font-size: inherit;
    font-weight: normal;
    font-family: inherit; 
}

button { 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background: white; 
    padding: 10px 14px; 
    transition: color 0.25s; 
    cursor: pointer;
}

button:hover, 
button:active {
    color: red; 
}

button:active { 
    border-color: red; 
}

p + p, 
ul + p, 
p + ul, 
ol + p, 
p + ol {
    margin-top: 1rem; 
}

blockquote {
    margin: 0; 
}

p + blockquote, 
blockquote + p, 
blockquote + blockquote {
    margin-top: 1rem;
}

ul, ul li, ol, ol li, p {
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: none;
    counter-reset: list;
    margin-left: 2rem;
}
    ol > li:before {
        position: absolute;
        counter-increment: list;
        content: counter(list);
        margin-left: -2rem;
    }
    
ul {
    list-style-type: none; 
    margin-left: 1rem;
} 
    ul > li:before {
        position: absolute;
        content: '·';
        margin-left: -1rem;
    }

pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
}
code {
    font-family: 'source-code-pro', consolas, menlo, monospace;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: normal;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.25) 50%);
    background-position: 0px 92%;
    background-size: 2px 2px;
    background-repeat: repeat-x;
    background-color: transparent;
    transition: color 0.25s, text-shadow 0.25s, filter 0.25s;
}

a:hover {
    color: red; 
}

.image a {
    border-bottom: none;
}

.image a:hover, 
.image a:active {
    border-bottom: none;
    background-color: transparent;
}

span.proper-name { 
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 1) 50%);
    background-position: 0px 96%;
    background-size: 2px 2px;
    background-repeat: repeat-x;
}

/* END: Defaults */ 

/* Content container ------------------------- */ 
#content {
    padding: 1rem; 
    text-align: center;
    margin: 0 auto; 
}
/* END: Content container */ 

/* Site header ------------------------------- */ 
header { 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

header a:link, 
header a:visited {
    background-image: none; 
}
/* END: Site header */ 

/* Site navigation --------------------------- */ 
nav a:link, 
nav a:visited { 
    background-image: none; 
}

/* Search form ------------------------------- */ 
.search-form .text, 
.search-form .submit {
    font-family: inherit; 
    font-size: inherit;
    color: inherit;
    margin-bottom: 30px;
    margin-top: 50px; 
    border-radius: 0;
    background: transparent; 
}

.search-form .text {
    width: 200px;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid black;
}
.search-form .submit {
    border: none; 
}
.search-form .submit:hover {
    color: red; 
}
/* END: Search form */ 

/* Articles ---------------------------------- */ 
article {
    width: 100%; 
    position: relative;
    margin: 3rem 0 0; 
    vertical-align: top;
    display: inline-block;
}

article .title a:link, 
article .title a:visited { 
    background-image: none; 
}

.title + .copy,
.date + .copy { 
    margin-top: 1rem; 
}

article img {
    max-width: 100%;
    max-height: 600px;
    text-decoration: none;
}

article img + img {
    margin-top: 1rem;
}

article .copy {
    text-align: left;
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: 'onum';
    -ms-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    font-feature-settings: 'onum';
}

article p { 
    margin-right: auto; 
    margin-left: auto; 
    max-width: 34rem; 
}

article p img { 
    max-width: calc(100% - 4rem); 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}

blockquote p { 
    padding-left: 2rem;
    max-width: calc(34rem - 2rem); 
}

/* Tags & permalink (unused) ----------------- */ 
.tags, 
.permalink {
    padding-bottom: 1rem; 
}

.permalink a {
    border: none;
}

.tags {
    max-width: 400px;
    margin: 20px auto 0; 
    text-align: center;
    line-height: 2.0; 
}

.tags a {
    color: #888;
    border-bottom-color: #888;
}

.tag {
    display: inline-block;
    clear: none;
}

/* Pagination -------------------------------- */ 
#pagination {
    margin-top: 4rem;
    margin-bottom: 3rem; 
}

.post-nav {
    margin-top: 100px;
    text-align: center;
}

/* Image modal -------------------------------- */ 
#image-modal { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    min-height: 100%; 
    z-index: 10; 
    background-color: white; 
}

#image-nav, 
#close-image-button { 
    position: absolute; 
    top: 1rem; 
    z-index: 12;
}

#image-nav { 
    left: 1rem; 
}
#close-image-button { 
    right: 1rem; 
}

#modal-image { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0 auto; 
    max-width: 100%; 
}

@media screen and (max-width: 768px) {
    html, body { 
        font-size: 1rem; 
    }

    article p img { 
        max-width: 100%; 
    }
}