@font-face { 
    font-family: 'Portrait';
    src: url('Portrait-Regular-Web.woff') format('woff'), url('Portrait-Regular-Web.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal; 
}
@font-face { 
    font-family: 'Portrait';
    src: url('Portrait-RegularItalic-Web.woff') format('woff'), url('Portrait-RegularItalic-Web.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal; 
}

/* Utilities ----------------------------------- */ 
.hide { 
    display: none; 
}

.center { 
    text-align: center; 
}

/* Defaults ------------------------------------ */ 
html, body {
    background: white;
    color: black; 
    font-family: 'Portrait', 'Times New Roman', Georgia, 'Noto Serif KR', 'Noto Serif JP', 'Noto Serif TC', 'Songti TC', 'HiraMinProN', 'Hiragino Mincho ProN', 'Yu Gothic', 'Hiragino Sans GB', 'Heiti TC', serif; 
    font-size: 22px;
    line-height: 1.25; 
    padding: 0;
    margin: 0;
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: 'onum';
    -ms-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    font-feature-settings: 'onum';
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, button {
    margin: 0; 
    padding: 0; 
    font-size: inherit;
    font-weight: normal;
    font-family: inherit; 
}

button { 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background: white; 
    padding: 10px 14px; 
    transition: color 0.25s; 
    cursor: pointer;
}

button:hover, 
button:active {
    color: red; 
}

button:active { 
    border-color: red; 
}

blockquote {
    margin: 0; 
}

ul, ul li, ol, ol li, p {
    margin: 0;
    padding: 0;
}

p + p, 
ul + p, 
p + ul, 
ol + p, 
p + ol, 
p + blockquote, 
blockquote + p, 
blockquote + blockquote, 
li + li {
    margin-top: calc(0.5 * 1.25rem);
}

ol {
    list-style-type: none;
    counter-reset: list;
    margin-left: 1.25rem;
}
    ol > li:before {
        position: absolute;
        counter-increment: list;
        content: counter(list);
        margin-left: -1.25rem;
    }
    
ul {
    list-style-type: none; 
    margin-left: 2rem;
} 
    ul > li:before {
        position: absolute;
        content: '·';
        margin-left: -1rem;
    }

pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
}
code {
    font-family: 'source-code-pro', consolas, menlo, monospace;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: normal;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: red; 
}

.image a {
    border-bottom: none;
}

.image a:hover, 
.image a:active {
    border-bottom: none;
    background-color: transparent;
}

span.proper-name { 
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 1) 50%);
    background-position: 0px 96%;
    background-size: 2px 2px;
    background-repeat: repeat-x;
}

hr { 
    border: none; 
    text-align: center; 
}
hr:after {
    content: "*";
}

abbr, 
.small-caps {
    font-feature-settings: "c2sc" 1; 
    letter-spacing: 1px;
}

/* END: Defaults */ 

/* Content container ------------------------- */ 
#content {
    padding: 1.25rem 1.25rem calc(3 * 1.25rem); 
    margin: 0 auto; 
}
/* END: Content container */ 

/* Site header ------------------------------- */ 
header { 
    text-align: center;
    width: 100%; 
    padding-bottom: 1.25rem;
}

header .site-title {
    margin: 0 auto; 
    letter-spacing: 1px; 
    font-feature-settings: "c2sc" 1;
}

header nav {
    margin: 0 auto; 
}

nav a {
    display: inline-block; 
    padding: 0 10px; 
}
 
/* END: Site header */ 

/* Site structure ---------------------------------- */ 
.container { 
    display: flex; 
    flex-direction: column; 
}

@media screen and (max-width: 900px) { 
    .container { 
        flex-direction: column; 
    }

    main.column { 
        margin-bottom: calc(2 * 1.25rem); 
        flex-basis: 0; 
    }

    div.column { 
        order: 1; 
        flex-basis: 0; 
    }

    .column nav { 
        margin: 0 auto; 
    }
} 

@media screen and (max-width: 600px) {
    html, body { 
        font-size: 18px; 
        line-height: 1.2; 
    }
}

/* Home ---------------------------------- */ 
.home {
    margin: 1.25rem auto; 
    max-width: 800px; 
}

/* Articles ---------------------------------- */ 
article {
    width: 100%; 
    position: relative;
    margin: 0; 
    display: block;
}

h1.title { 
    margin-top: calc(0.5 * 1.25rem); 
    text-align: center; 
    font-feature-settings: "c2sc" 1; 
    letter-spacing: 2px;
}

h2 { 
    margin-top: 1.25rem; 
    margin-bottom: calc(0.5 * 1.25rem); 
    margin-left: 1.25rem; 
}

h1.title + .copy { 
    margin-top: 1.25rem; 
}

article figcaption { 
    margin-top: 1.25em; 
    margin-bottom: 1.25em; 
    margin-left: 1.25rem; 
}

article img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%;
    max-height: calc(21 * 1.25rem);
    text-decoration: none;
}

article img + img {
    margin-top: calc(0.5 * 1.25rem);
}

article .copy {
    text-align: left;
    
}

article .copy a:link, 
article .copy a:visited {
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.25) 50%);
    background-position: 0px 92%;
    background-size: 2px 2px;
    background-repeat: repeat-x;
    background-color: transparent;
    transition: color 0.25s, text-shadow 0.25s, filter 0.25s;
}

article .copy p, 
article .copy ul,
article .copy,
article .date { 
    margin-right: auto; 
    margin-left: auto; 
    max-width: calc(21 * 1.25rem); 
}

article .copy p img {
    max-width: none; 
    margin-left: 50%; 
    transform: translateX(-50%); 
}

article ul { 
    padding-left: 1.25rem; 
}

blockquote p { 
    padding-left: 1.25rem;
    max-width: calc(21 * 1.25rem - 1.25rem); 
}

article .date { 
    margin-top: calc(0.5 * 1.25rem); 
    text-align: left; 
    padding-left: 1.25rem; 
    color: #777; 
}

/* List -------------------------------------- */ 
.list {
    max-width: calc(21 * 1.25rem); 
    margin: 0 auto; 
}

.list h1 { 
    padding-bottom: 1.25rem;
}

.list ul {
    margin: 0; 
}

.list ul li { 
    padding-left: 1.25rem; 
    text-indent: -1.25rem; 
}

.list ul li + li { 
    margin-top: 0; 
}

.list ul > li:before {
    content: none; 
}

/* Images ------------------------------------ */ 
.images { 
    text-align: center; 
}

.image-wrapper { 
    display: inline-block; 
    margin-top: 1.25rem; 
    max-width: calc(15 * 1.25rem); 
}


/* Pagination -------------------------------- */ 
#pagination {
    margin-top: calc(2 * 1.25rem);
    margin-bottom: calc(2 * 1.25rem); 
}

.post-nav {
    margin-top: calc(2 * 1.25rem);
    margin-bottom: calc(3 * 1.25rem); 
}

/* Image modal -------------------------------- */ 
#image-modal { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    min-height: 100%; 
    z-index: 10; 
    background-color: white; 
    cursor: zoom-out; 
}

#image-nav, 
#close-image-button { 
    position: absolute; 
    top: 1rem; 
    z-index: 12;
}

#image-nav { 
    left: 1rem; 
}
#close-image-button { 
    right: 1rem; 
}

#modal-image { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0 auto; 
    max-width: 100%;
    max-height: 100%;  
}
